<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WeatherForecast.Properties.Settings.WeatherConnectionString"
      connectionString="Data Source=192.168.100.73;Initial Catalog=Weather;Persist Security Info=True;User ID=Weather;Password=Weather"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AeRenderPath" value="D:\Program Files\Adobe\Adobe After Effects CS6\Support Files\aerender.exe"/>
    <add key="OutputPath" value="e:\OutPut\"/>
    <add key="AeProjectFile" value="e:\AEProjs\iFILM website. 8 collect folder\Web Edit 22.8 collect.aep"/>
    <add key="Composition" value="main web preview"/>
    <add key="DataPath" value="C:\Users\Administrator\Desktop\WFData.xml"/>
    <add key="StatusSource" value="C:\FILES\PROJECTS\Press\Newtheme\Weather Forecast\WP-Master\"/>
    <add key="StatusDest" value="C:\FILES\PROJECTS\Press\Newtheme\Weather Forecast\(Footage)\WP\"/>
    <add key="OutPutFileName" value="main web preview"/>
    <add key="TimeScheduleMinute" value="47"/>
    <add key="ScheduleDestFileName" value="c:\Files\f\OutPut\ComingUp\"/>
  </appSettings>
</configuration>